<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Index page</title>
   <link rel="stylesheet" href="/css/styles.css" />
   
   <style>
        body{
          /* background-color: navy;
          color: white; */
          font-family: sans-serif;
          background-color: navy;
          color: white;
          padding: 4%;
          /* background: #FFFFFF; */
        }
        .ttt{
          background-color: #C1E3FF;
        }
        .gri{
            width:70%;
        }
        h1, h2, h3, h4, h5, h6 {
            font-size: revert;
            font-weight: 600;
        }
    
    </style>
 </head>
 <body>
  
  <div align="center">
    <h1>Sports Scheduler</h1>
    <div class="gri" align="center">
      <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-UP now</a></p>
      <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-IN</a></p>
  </div>
</div>
 </body>
</html>